!!!
%html
  %head
    %title Phrasr
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = javascript_include_tag "jquery.js", "jquery.rails.js", "application.js"
    = csrf_meta_tag

  %body.bp
    #container
      #header
      #content

        = yield

      #footer

